.c-link
	&__anchor
		&--fake
			cursor: text
		&--real
			display: inline-block
			margin-left: 5px
			max-width: 170px
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			vertical-align: bottom
	&__btn
		margin-left: 15px
	&__input
		margin: 0 15px
		width: 170px