@import '~stylus/mixins'
@import '~stylus/variables'

.kayn
	&__wrapper
		border(1px solid $color-border-base)
		border-radius: 5px
	&__toolbar
		margin: 0
		padding: 0 5px
		box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2)
	&__content
		padding: 3% 3% 25px
		height: 250px
		overflow-y: auto
	&__core
		height 100%
	&__blockquote
		border-left: 4px solid #ccc
		margin-bottom: 5px
		margin-top: 5px
		padding-left: 16px
	&__code
		margin: 0
		padding: 0.2em 0.4em
		font-size: 85%
		background-color: rgba(27,31,35,0.05)
		border-radius: 3px
	&__ol,
	&__ul
		display: block
		margin-block-start: 1em
		margin-block-end: 1em
		margin-inline-start: 0px
		margin-inline-end: 0px
		padding-inline-start: 40px
		& ul,
		& ol
			margin-block-start: 0px
			margin-block-end: 0px
	&__ol
		list-style-type: decimal
		& ol
			list-style-type: lower-roman
			& ol
				list-style-type: lower-alpha
	&__ul
		list-style-type: disc
		& ul
			list-style-type: circle
			& ul
				list-style-type: square
	&__svg
		width: 18px
		height: 18px
		vertical-align: -0.3em
	&__color-picker-container
		padding-top: 0
		.ant-popover-arrow
			display: none
		.ant-popover-inner-content
			padding: 0
	&__table
		margin-bottom: 1em
		thead
			tr
				background: #f5f5f5
				font-weight: bold
	&__twrapper
		poRel()
		&:before
			content: ''
			poAbs()
			top: -4px
			right: -4px
			bottom: -4px
			left: -4px
			border(2px solid #ef6942)
			z-index: 0
	&__ttoolbar
		poAbs()
		top: -34px
		right: 0
	&__ttool
		display: inline-flex
		color: #fff
		padding: 3px
		margin: 3px
		background-image: linear-gradient(180deg,#464646,#151515)
		font-size: 16px
		border-radius: 5px
		cursor: pointer
	&__table
		poRel()
		z-index: 1
	&__td
		padding: .5em .8em
		border(1px solid $color-border-base)
		.kayn__paragraph
			margin: 0

.react-resizable 
	position: relative

.react-resizable-handle
	position: absolute
	width: 10px
	height: 100%
	bottom: 0
	right: -5px
	cursor: col-resize
	user-select none