shadowInset()
	box-shadow: inset arguments

border()
	border: arguments

flexbox(ff, jc, ai)
	display: flex
	flex-flow: ff
	justify-content: jc
	align-items: ai

fontSize(size)
	font-size: size

// positions
poRel()
	position: relative
poAbs()
	position: absolute
poFix()
	position: fixed
poSta()
	position: static
poStic()
	position: sticky