// colors
$color-border-base = #d1d1d1
$color-transparent = transparent
$color-primary = rgba(106, 111, 123, 1)
$color-primary-active = rgba(52, 152, 219, 1)
$color-disabled = #c4c5ca

// fonts
$font-size-base = 14px